body:not(body#homepage) header nav {
  padding: 1.5rem;
  background-color: #75c9c8;
}

body:not(body#homepage) header .carousel-inner {
  height: 30rem;
  margin: 3rem;
  width: unset;
}

main {
  margin: 3rem 3rem 3rem 3rem;
}

.error {
  font-size: 1.3rem;
  color: red;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.3;
  font-size: 1.5rem;
}

body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body a {
  text-decoration: none;
}

.button, #homepage main a, .card-g div.card input, .reservation__infos_form .submit {
  color: #17a2b8;
  padding: 1rem;
  width: 75%;
  border: 1px solid #17a2b8;
  display: block;
  margin: 1rem auto;
  font-size: 1.5rem;
  background-color: unset;
}

.button:hover, #homepage main a:hover, .card-g div.card input:hover, .reservation__infos_form .submit:hover {
  color: #fff;
  background-color: #17a2b8;
}

.button, #homepage main a, .card-g div.card input, .reservation__infos_form .submit {
  color: #fff;
  padding: 1rem;
  border: 1px solid #17a2b8;
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  background-color: #17a2b8;
  width: 100%;
}

.button:hover, #homepage main a:hover, .card-g div.card input:hover, .reservation__infos_form .submit:hover {
  color: #17a2b8;
  background-color: unset;
}

footer nav ul {
  height: 6rem;
  font-size: clamp(1.5rem, 2vw, 2rem);
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  background-color: #75c9c8;
}

footer nav ul button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: unset;
  border: none;
  color: #6c757d;
  width: 100%;
  height: 100%;
}

footer nav ul button span {
  display: none;
}

@media screen and (min-width: 1000px) {
  footer nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer nav ul button span {
    margin-left: 1rem;
    display: block;
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav div {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header nav div a {
  color: #000;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header nav ul li:nth-of-type(-n + 2) a {
  color: #000;
}

header nav ul li a {
  color: #6c757d;
  font-size: clamp(1.5rem, 2vw, 2rem);
}

header nav ul li a img {
  width: 5rem;
}

header .carousel img {
  height: 70rem;
  width: 100%;
}

header .carousel .carousel-control-next,
header .carousel .carousel-control-prev {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#homepage header .nav-fluid {
  position: absolute;
  z-index: 1;
}

#homepage header nav {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 3rem 0 0 3rem;
}

#homepage main a {
  margin: 5rem auto;
}

.reserv {
  position: absolute;
  bottom: 0;
  width: 92%;
  margin-bottom: 1.5rem;
}

.card-g {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 600px) {
  .card-g {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.card-g div.card {
  height: 40rem;
  margin-bottom: 3rem;
  width: 330px;
}

.card-g div.card img {
  height: 20rem;
}

.card-g div.card .card-title {
  font-size: 2.3rem;
}

.card-g div.card .card-text {
  line-height: 1.5;
}

.card-g div.card input {
  width: 100%;
  margin-top: 1.5rem;
}

.card-g div.card .card-body {
  padding: 1.5rem;
}

.nav-pagination {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2rem auto;
}

.pagination button {
  font-size: 1.3rem;
}

.pagination button {
  width: 3rem;
  height: 3rem;
}

.pagination button:not(.nbr) {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

div.allTravel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.allTravel img {
  width: 17rem;
  height: 10rem;
  border: 2px solid rgba(0, 0, 0, 0.175);
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

div.allTravel form {
  position: relative;
}

div.allTravel form input[type=submit] {
  position: absolute;
  width: 100%;
  background-color: transparent;
  left: 0;
  height: 100%;
  border: none;
}

@media screen and (max-width: 1000px) {
  main .allTravel {
    display: none;
  }
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-bottom: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reservation__centrer {
  margin: 20px 0;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reservation__centrer div:first-of-type {
  width: 100%;
}

.reservation__centrer div:last-of-type {
  width: 70%;
}

.reservation__infos_form {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.reservation__infos_form__email_confirm,
.reservation__infos_form .btn {
  text-align: center;
}

.reservation .card {
  width: 25%;
}

.reservation .card input {
  text-align: left;
  padding: 8px;
  font-size: 1.3rem;
}

.reservation .formulaire {
  width: 100%;
}

.reservation .formulaire h1 {
  background-color: rgba(117, 201, 200, 0.6);
  padding: 1.5rem;
  font-weight: 400;
  font-size: 2.3rem;
  color: #0C5460;
  margin: 0;
  letter-spacing: .76px;
}

.reservation .presentation {
  border: 1px solid #17a2b8;
  border-radius: 8px;
}

.reservation .presentation img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 14.5rem;
  border-radius: 8px 8px 0px 0px;
}

.reservation .presentation .card-title {
  margin: 1rem 0 1rem 2rem;
  font-size: 2.5rem;
}

.reservation .presentation .card-text {
  background-color: rgba(117, 201, 200, 0.6);
  padding: 1.5rem;
  color: #0C5460;
}

.reservation .presentation .card-body {
  line-height: 2.3;
}

@media screen and (min-width: 900px) {
  .reservation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .presentation {
    width: 40%;
  }
  .formulaire {
    width: 60%;
  }
}

.confirmation > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.confirmation > div > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  padding-bottom: 20px;
}

.confirmation > div > div div p {
  padding: 1.5rem;
  border-radius: 8px;
}

.confirmation > div > div div p:last-of-type {
  width: 60%;
}

.confirmation > div > div div p:first-of-type {
  width: 40%;
}

.confirmation > div .info div p {
  background-color: #fff3cd;
}

.confirmation > div .total div p {
  background-color: #d1e7dd;
}

.confirmation span {
  background-color: #cff4fc;
  display: block;
  padding: 1.5rem;
}

.confirmation span:last-of-type {
  border-radius: 8px;
  text-align: right;
}

.confirmation span:first-of-type {
  margin: -3rem 0 3rem 0;
  text-align: left;
  border-radius: 0px 0px 8px 8px;
}

.confirmation + .allTravel {
  margin-top: 3rem;
}

.cart > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.cart > div > div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  padding-bottom: 20px;
}

.cart > div > div a {
  color: black;
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.cart > div > div:nth-of-type(even) p,
.cart > div > div:nth-of-type(even) a {
  background-color: #fff3cd;
}

.cart > div > div:nth-of-type(odd) p,
.cart > div > div:nth-of-type(odd) a {
  background-color: #d1e7dd;
}

.cart > div > div p,
.cart > div > div a {
  padding: 1.5rem;
  border-radius: 8px;
  width: 100%;
}

.payment input {
  font-size: 1.3rem;
}

.payment input[type="checkbox"] {
  width: 2rem;
  margin-left: 1rem;
  height: 2rem;
}

.admin select {
  margin-bottom: 2rem;
}

table {
  margin: 0 auto;
  width: 100%;
}

table td {
  width: 15rem;
}

table thead {
  border-top: 1px solid rgba(128, 128, 128, 0.3);
}

table thead th {
  text-transform: capitalize;
}

table tr {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

table tr td, table tr th {
  padding: 1.5rem;
}

table tr td.desc {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */